<div class="about d-flex flex-wrap justify-content-around my-5">
    <div class="text col-5">
        <p>WELCOME TO RENT A BMW WEB SITE</p>
        <h1>Economy us our first name</h1>
        <p>One of our top priorities is to adjust each package we offer to our customer’s exact needs. We offer a variety of options that can enhance your experience, Always according to your necessities, and help you get the best out of your holidays or your business trip.</p>
        <h1>Book Safe and easy</h1>
        <p>Our smart booking engine searches for for the best price, car category, extras, exclusive offers and discounts suiting your needs. You can securely book online today only with a small downpayment and pay the rest upon your arrival at the desk!</p>
        <h1>Leading experts</h1>
        <p>EconomyCarRentals has provided millions of customers with the best possible guaranteed price for their Car Rental. We welcome you to become our next satisfied customer.</p>
    </div>
</div>