<footer class="d-flex flex-wrap p-5 bg-dark text-light  justify-content-around">
    <div class="col-md-4 col-10 text">
        <h3>Rent a BMW</h3>
        <p>The list of BMW cars in this destination will satisfy the desires of any traveler. Vehicle of this brand are offered in almost every class of cars, which eliminates the need to abandon your preferences.</p>
        <a class="m-2" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a class="m-2" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a class="m-2" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="col-md-4 col-10">
        <h3>Find us</h3>
        <p><i class="fas fa-map-marker-alt"></i> Mumbai - 400705. Maharashtra, India.</p>
        <p><i class="fas fa-envelope"></i>	info@bmwrent.com</p>
        <p><i class="fas fa-phone-alt"></i>	+91 (22) 612 91700 </p>
    </div>
</footer>
