<div class="row text-center mx-0 pt-5">
    <h1>WELCOME</h1>
    <p>Find your ideal car</p>
</div>
<div class="mx-auto d-flex flex-wrap mt-5 justify-content-around">
    <div class="col-5 col-md-3" *ngFor="let car of cars">
            <img src="../../../assets/images/{{car.img}}" class="img-fluid" alt="{{car.id}}"/>
    </div>
</div>
<div class="text-center">
    <a routerLink="/cars" class="btn btn-link mt-5">
        View more
     </a>
</div>
<div class="mx-auto col-12">
    <img src="assets/images/home-banner-kontakt-de.jpg"  class="img-fluid" alt="slika"/>  
</div>
<div class=" col-12 d-flex justify-content-around p-5 flex-wrap">
    <div class="col-10 col-md-3 text-center">
        <img src="assets/images/b1.png" class="img-fluid" alt="1"/>
        <h3 class="p-3">SPECIAL EXPERIENCES.</h3>
        <p>All vehicles, equipment, combination possibilities and varieties shown here are examples and can differ in your country. </p>
    </div>
    <div class="col-10 col-md-3">
        <img src="assets/images/b2.png" class="img-fluid" alt="2"/>
        <h4 class="p-2">"The philosophy of our cars is based on the perfect interplay of dynamics, agility and precision while being suitable for everyday use."</h4>
        <p>-Markus Flasch, CEO of BMW M GmbH</p>
    </div>
    <div class="col-10 col-md-3 text-center">
        <img src="assets/images/b3.png" class="img-fluid" alt="3"/>
        <h3 class="p-3">Are you ready?</h3>
        <p>Welcome to the worldof dreams for fans of high performance cars and car lovers in general.</p>
    </div>
</div>
